@import './short.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=korean');

body{
  font-family:$font-family;
  font-weight: $font-weight-light;
  font-size:$font-body;
  color:$color-body;
}
.d-table{
  display: table;
}
.d-table-cell{
  display: table-cell;

}
.w-100{
  width: 100%;
}
.h1{
  font-size: $h1;
}
.h2{
  font-size: $h2;
}

.font-weight-bold{
  font-weight:$font-weight-bold;
}
.font-weight-bolder{
  font-weight:$font-weight-bolder;
}
.font-weight-normal{
  font-weight:$font-weight-normal;
}
.font-weight-light{
  font-weight:$font-weight-light;
}


// 수직가운
// align-items-center

// 플렉스
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-fill {
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto!important;
}
// 수직
.justify-content-center{
  display: flex;
  justify-content:center;
}
.align-items-center{
  display: flex;
  align-items:center;
}
.align-items-end{
  display: flex;
  align-items:flex-end;
}
.align-content-between{
  display: flex;
  align-content: space-between !important;
  flex-wrap:wrap;
}
.align-items-stretch{
  align-items: stretch!important;
  display: flex;
}
.align-self-center{
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
.col-between{
  display: flex;
  align-content: space-between;
  flex-wrap:wrap;
}