@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=korean");
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666; }

.d-table {
  display: table; }

.d-table-cell {
  display: table-cell; }

.w-100 {
  width: 100%; }

.h1 {
  font-size: 3rem; }

.h2 {
  font-size: 2.75rem; }

.font-weight-bold {
  font-weight: 600; }

.font-weight-bolder {
  font-weight: 500; }

.font-weight-normal {
  font-weight: 400; }

.font-weight-light {
  font-weight: 300; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important; }

.justify-content-center {
  display: flex;
  justify-content: center; }

.align-items-center {
  display: flex;
  align-items: center; }

.align-items-end {
  display: flex;
  align-items: flex-end; }

.align-content-between {
  display: flex;
  align-content: space-between !important;
  flex-wrap: wrap; }

.align-items-stretch {
  align-items: stretch !important;
  display: flex; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.col-between {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }
