$h1:3rem;
$h2:2.75rem;
$h3:2.5rem;
$h4:2.25rem;
$h5:2rem;
$h6:1.75rem;
$h7:1.5rem;
$h8:1.2rem;
$h9:1rem;
$font-body:14px;
$h10:12px;
$small:11px;

$color-body:#666;
$color-black:#000;
$color-dark : #333;
$color-gray:#888;

$font-family:'Roboto','Noto Sans KR', sans-serif;
$font-weight-bold:600;
$font-weight-bolder:500;
$font-weight-normal:400;
$font-weight-light:300;